<h1>Latest Updates</h1>

{% for page in site.pages %}
{% for tags in page.tags %}
{% if tags == "ios" %}

<div>
    <h2><a href="/{{ page.permalink }}">
        {{ page.title }}
    </a></h2>

    {{ page.content | replace: "##", "<h6></h6>" | replace: "</h6>", "</h6></ul>" | replace: "*", "<ul><li>" | replace: "</li>", "" | replace: "---", "" | replace: "h2 id=""", "h2" | truncatewords:20 }}
    <a href="/{{ page.permalink }}">read more</a></li></ul>

</div>
</br>
{% endif %}
{% endfor %}
{% endfor %}
