<div class="post-content">

    <h2 class="hmh2style">Latest Updates</h2>
        {% for page in site.pages %}
        {% for tags in page.tags %}


            <h3><a href="/{{ page.permalink }}">
                {{ page.tags }} : {{ page.title }}
            </a></h3>

            {{ page.content | replace: "##", "<h6></h6>" | replace: "*", "<li>" | replace: "---", "" | truncatewords:20 }}
            <span class="hmspanstyle"><a href="/{{ page.permalink }}">read more</a></span>
            <h4></h4>

        {% endfor %}
        {% endfor %}

</div>

<hr style="width:100%"/>