<!DOCTYPE html>
<html>
<head>

    {% include head.html %}

</head>

<body>

{% include topnav.html %}

    <!-- Page Content -->
    <div class="container">
        <div class="col-lg-12">&nbsp;</div>

        {% include sidebar.html %}

        <!-- Content Column -->
        <div class="col-md-9">

            <div class="post-header">
                <h1 class="post-title-main">{% if page.homepage == true %} {{site.homepage_title}} {% else %}{{ page.title }}{% endif %}</h1>
            </div>

            <a class="post-content">

                {% if page.summary %}
                <div class="summary">{{page.summary}}</div>
                {% endif %}

            </a>


            <div class="post-content">

                {{content}}


                {% include update.html %}

            </div>

        </div>
        <!-- /.container -->

    </div>
</body>

{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}

</html>

